[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-ask = { git = 'https://github.com/johnwheeler/flask-ask.git', ref = 'master' }
python-Levenshtein = "*"
fuzzywuzzy = "*"
gmusicapi = "*"
mechanicalsoup = "*"

[dev-packages]

[requires]
python_version = "3.6"
